@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazirmatn/Vazirmatn-Regular.woff2') format('woff2'),
    url('./assets/fonts/Vazirmatn/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('./assets/fonts/Vazirmatn/Vazirmatn-Bold.woff2') format('woff2'),
    url('./assets/fonts/Vazirmatn/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
  scroll-behavior: smooth;
}
